{% load static tailwind_tags %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Rudraksh</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">


    {% include 'projects/navbar.html' %}

    {% include 'projects/home.html' %}

    {% include 'projects/aboutus.html' %}

    {% include 'projects/project.html' %}

    {% include 'projects/contact.html' %}



	</body>
</html>
{% tailwind_css %}
